USE [master]
GO
/****** Object:  Database [Peliculas]    Script Date: 4/17/2022 1:36:08 AM ******/
CREATE DATABASE [Peliculas]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Peliculas', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Peliculas.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Peliculas_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Peliculas_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Peliculas].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Peliculas]
GO
/****** Object:  Table [dbo].[Actores]    Script Date: 4/17/2022 1:36:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Actores](
	[IdActores] [int] IDENTITY(1,1) NOT NULL,
	[NombreActores] [varchar](max) NOT NULL,
	[FechaNacimiento] [date] NOT NULL,
	[SexoActores] [varchar](max) NOT NULL,
	[FotoActores] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pelicula]    Script Date: 4/17/2022 1:36:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pelicula](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](max) NOT NULL,
	[Actor] [varchar](max) NOT NULL,
	[Ano] [int] NOT NULL,
	[Genero] [varchar](max) NOT NULL,
	[Portada] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
